#methods{
  @include Flexible(center, center, row,wrap, 0); 
  padding: 120px 0;
  background-color: white;
  font-family: $Brikolage-font;


  .left-method{
    @include Flexible(start, start, column,wrap, 0); 
    padding-left: 65px;
    h1{
      font-size: 56px;
      font-weight: 600;
      color: #171717;
      line-height: 1.2;
      margin: 30px 0;
    }
    p{
      max-width: 400px;
      font-size: 18px;
      line-height: 1.6;
      color: #2b2a2a;
    }
    .method-btn{
      button{
        background-color: #F0844E;
        padding: 15px 32px;
        border-radius: 33px;
        margin: 20px 0;
        border: none;
        transition: 0.3s ease-in-out;
        &:hover{
          background-color: #F6C143;
        }
        a{
          text-decoration: none;
          color: #171717;
          font-size: 18px;
          font-weight: 700;
          line-height: 1em;
        }
      }
    }
  }
  .right-method{
    @include Flexible(start, start, row, nowrap, 0); 
    .cases{
      max-width: 344px;
      min-height: 211px;
      margin-bottom: 30px;
      margin-left: 30px;
      cursor: pointer;
      .method-img{
        @include Flexible(center, center, row, nowrap, 0); 
        width: 80px;
        height: 88px;
        margin: 20px 0;
        background-image: url("https://outgrid.uicore.co/elearning/wp-content/uploads/sites/5/2023/06/eLearning-Why-BG-1.webp");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; 
        .method-img-box{
          width: 40px;
          height: 40px;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .method-img2 {
        @extend .method-img; // Inherit styles from .method-img
        background-image: url("https://outgrid.uicore.co/elearning/wp-content/uploads/sites/5/2023/06/eLearning-Why-BG-2.webp");
      }
      
      .method-img3 {
        @extend .method-img; // Inherit styles from .method-img
        background-image: url("https://outgrid.uicore.co/elearning/wp-content/uploads/sites/5/2023/06/eLearning-Why-BG-3.webp");
      }
      
      // Add more extensions as needed
      .method-img4 {
        @extend .method-img;
        background-image: url("https://outgrid.uicore.co/elearning/wp-content/uploads/sites/5/2023/06/eLearning-Why-BG-4.webp");
      }
      p{
        width: 100%;
        font-size: 14px;
        line-height: 1.6;
      }
      h2{
        font-size: 24px;
        color: #171717;
        font-weight: 700;
      }
    }
  }
  @media (max-width: 768px) {
    .right-method {
      @include Flexible(center, center, row, wrap, 0); // Force items in a single row
      flex-wrap: wrap; // Prevent wrapping on smaller screens
      overflow-x: auto; // Enable horizontal scrolling if needed
      gap: 10px; // Space between items if desired
      margin: 0;
      padding: 0;
      .cases {
        flex: 0 0 auto; 
        max-width: 150px; 
        max-height: 200px;
        margin: 0;
        padding: 0;
        p{
          flex-wrap: wrap;
        }
      }
    }
  }
}