#header{
  @include Flexible(center, center, row,wrap, 0); 
  padding: 10px 150px;
  height: 90px;
  background-color: #F6F4EF;
  font-family: $Brikolage-font;
  .row{
    @include Flexible(center, center, row,wrap, 0);  
  }

  .logo-image{
    @include Flexible(center, center, row,wrap, 0); 
    width: 108px;
    height: 32px;
    cursor: pointer;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .menu {
    @include Flexible(center, center, row, wrap, 0); 
    width: 100%;  
    ul {
      @include Flexible(center, center, row, wrap, 40px); 
      width: 100%; 
      margin: 0; 
      padding: 0; 
    }
  
    ul li {
      list-style: none;
      outline: none;
      margin: 0; 
      padding: 0; 
    }
  
    ul li a {
      color: #171717;
      text-decoration: none;
      font-size: 16px;
      transition: 0.2s ease-in-out;
      font-weight: 500;
      &:hover{
        color: #F0844E;
      }
    }
  }

  .button-part{
    @include Flexible(center, center, row, wrap, 20px);  
  }
  .login{
    a{
      color: #171717;
      text-decoration: none;
      font-size: 16px;
      font-weight: 700;
      transition: 0.3s ease-in-out;
      &:hover{
        color: #F0844E;
      }
    }
  }
  .sign-up{
    button{
      background-color: #F0844E;
      border: none;
      border-radius: 30px;
      padding: 9px 33px;
      transition: 0.3s ease-in-out;
      &:hover{
        background-color: #F6C143;
      }
    }
    a{
      color: #171717;
      text-decoration: none;
      font-size: 19px;
      font-weight: 700;
    }
  }
  

}